<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>My favourite books</title>
    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/gsap@3/dist/gsap.min.js"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
</head>

<body>
<div id="app" class="grid-con">
  
  <header class="col-span-full">
    <h1>My Digital Archive</h1>
    <p class="subtitle">A curated collection of literary journeys and books I enjoy (mainly Harry Potter hehe).</p>
  </header>

  <section class="col-span-full m-col-span-6">
    <div v-if="loadingBooks" class="loader-con">
      <img class="loader" src="images/loader.svg" alt="Loading Catalog...">
    </div>

    <ul id="book-list" v-else>
      <li v-for="book in booksData" :key="book.id" class="book-item">
        <button @click="getBook(book.id)" class="book-link">
          {{ book.title }}
        </button>
      </li>
    </ul>
  </section>

  <section class="col-span-full m-col-span-6" ref="bookInfoCon">
    <div v-if="loadingBookDetails" class="loader-con">
      <img class="loader" src="images/loader.svg" alt="Retrieving volume...">
    </div>

    <div v-else-if="error" class="error-box">
      <p>{{ error }}</p>
      <button @click="getBooks" class="retry-btn">Refresh Archive</button>
    </div>

    <article v-else-if="selectedBooks" id="info-box">
      <div class="book-image-wrap">
        <img :src="selectedBooks.image_url" :alt="selectedBooks.title">
      </div>
      
      <div class="book-content">
        <h2>{{ selectedBooks.title }}</h2>
        <p><span class="label">By</span> {{ selectedBooks.author }}</p>
        <p><span class="label">Released</span> {{ selectedBooks.published }}</p>
        <hr class="divider">
        <p class="description">{{ selectedBooks.description }}</p>
      </div>
    </article>

    <div v-else class="placeholder">
      <p>Select a title to view the archive details.</p>
    </div>
  </section>

  

<footer class="col-span-full">
    <p>READ AND CURATED BY <span class="footer-credit">Amy Armstrong</span></p>
    <p style="font-size: 10px; margin-top: 10px; opacity: 0.6;">idp laravel api</p>
</footer>

</div>
</body>
</html>